@import-normalize; /* bring in normalize.css styles */
p {
  margin: 0;
} 

ul {
  list-style: none;
}

body {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
